.play {
  height: 100vh;
  width: 100%;
  background-color:  #68AA52;
  text-align: center;
  align-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

  .button {
    width: 10%;
  }
}