.sideMenu {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  height: 40%;
  width: 30%;
  min-width: 400px;
  max-height: 650px;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: bolder;
  font-size: 1.6rem; }

a {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 #141414, 0.08em 0 0 #fff, 0 0, -0.08em 0 0 #fff;
  vertical-align: bottom; }
  a:hover:after {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)) center 1.08em/100% 5px no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 400%;
    will-change: transform;
    z-index: -1;
    animation: underline-gradient 6s linear infinite;
    background-image: linear-gradient(90deg, rgba(122, 95, 255, 0.8) 15%, rgba(1, 255, 137, 0.6) 35%, rgba(122, 95, 255, 0.8) 85%); }

@keyframes underline-gradient {
  0% {
    transform: translate3d(0%, 0%, 0); }
  100% {
    transform: translate3d(-75%, 0%, 0); } }
